@font-face {
	font-family: 'Basis Grotesque Arabic Pro Lt';
	src: url(../../assets/fonts/BasisGrotesqueArabicPro-Light.woff2) format('woff2'),
	url(../../assets/fonts/BasisGrotesqueArabicPro-Light.woff) format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}