@font-face {
	font-family: 'Basis Grotesque Arabic Pro';
	src: url(../../assets/fonts/BasisGrotesqueArabicPro-Regular.woff2) format('woff2'),
	url(../../assets/fonts/BasisGrotesqueArabicPro-Regular.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Basis Grotesque Arabic Pro';
	src: url(../../assets/fonts/BasisGrotesqueArabicPro-Bold.woff2) format('woff2'),
	url(../../assets/fonts/BasisGrotesqueArabicPro-Bold.woff) format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}