@media (max-width: 767px) {  /* small screens add padding */
  .navlink {
    padding-bottom: 100vh;
  }
}


.navbar { /* navbar animation duration*/
 bs-navbar-toggler-transition: box-shadow 1.4s ease-in-out;
}

@media (max-width: 767) { /*override bootstrap for padding navbar*/
  element.style {
    padding-bottom: 100vh!important;
  }
}

#P5JS { /*robot clear space*/
  margin: 15px;
  padding: 15px;
}

a:hover { /*color for links when hovering*/
  color: #f53100 !important;;
}

.robotlink { /*style for the clickeable links to iterations of the robot */
  display: inline-flex;
  background-color: #F53100;
  border-radius: 25px;
  padding: 8px;
  color: #f0f0f0;
  font-family: General Sans;
  text-decoration: none;
  margin-right: 15px;
  margin-bottom: 15px;
}

.robotlink:hover { /*change color for clickeable links to iterations of the robot */
color: rgb(33,37,41) !important ;
}

.form-control { /*contact form background*/
  background-color: #f0f0f0;
}

.carousel-indicators [data-bs-target] {
  width: 14px;
  height: 14px; 
  border-radius: 100%;
  margin-right: 10px;
  margin-left: 10px;
  background-color: #F53100;
}

@media (max-width: 767) { /*small screen carousel indicator size*/
  .carousel-indicators [data-bs-target] {
    width: 9px; /* change width */
    height: 9px; /* change height */
    border-radius: 100%;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 6px;
    background-color: #F53100;
  }

}