@media (max-width: 767px) {
  .navlink {
    padding-bottom: 100vh;
  }
}

@media (max-width: 767px) {
  .navbar-collapse {
    /*height: 100vh;*/
  }
}

.nav-link {
  color:#F53100;
}


.collapsing {
  transition: 1s;
}

.navbar_collapse.collapsing {
  /*transition: 1s;*/
}

.navbar-toggler {
}

.navbar {
  /*--bs-navbar-toggler-transition: box-shadow 0.30s ease-in-out;*/
}

a {
}

@media (max-width: 767) {
  element.style {
    padding-bottom: 100vh!important;
  }
}

#P5JS {
  margin: 15px;
  padding: 15px;
}

.robotlink {
  display: inline-flex;
  background-color: #F53100;
  border-radius: 25px;
  padding: 8px;
  color: #f0f0f0;
  font-family: General Sans;
  text-decoration: none;
  margin-right: 15px;
  margin-bottom: 15px;
}

.robotlink:hover {
color: rgb(33,37,41);
}

.form-control {
  background-color: #f0f0f0;
}

.PDF_dload > a:hover {
  color: #F53100;
}